.lobby {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lobby-form {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.lobby-form-group {
    margin: 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lobby-vs {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
    font-size: 64px;
    color: rgb(169, 113, 233);
}

.lobby-form-group label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #888;
}

.lobby-form-group input {
    font-size: 28px;
    padding: 10px;
    outline: none;
    border: 3px solid #888;
    border-radius: 10px;
    color: #333;
    box-sizing: border-box;
}

.lobby-form-group input:hover {
    border: 3px solid rgb(169, 113, 233);
}

.lobby-form-group input:focus {
    border: 3px solid rgb(169, 113, 233);
}

.lobby .btn-start {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 80px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background: rgb(169, 113, 233);
    padding: 20px 40px;
    border-radius: 20px;
    transition: all .2s;
    box-shadow: 4px 6px 10px #5555;
}

.lobby .btn-start:hover {
    background: rgb(133, 67, 209);
    transition: all .2s;
}

.lobby .btn-start:active {
    box-shadow: none;
}
/* 
@media screen and (max-width: 900px) {
    .lobby-vs {
        width: 100%;
        text-align: left;
        margin: 20px 40px;
    }
}

@media screen and (max-width: 700px) {
    .lobby-vs {
        width: 100%;
        text-align: left;
        margin: 20px 40px;
    }
}

@media screen and (max-width: 500px) {
    .lobby-vs {
        width: 100%;
        text-align: center;
        margin: 20px 0px;
    }
} */