@font-face {
    font-family: FjallaOne-Regular;
    src: url('./assets/fonts/FjallaOne-Regular.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: FjallaOne-Regular;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.header { grid-area: header; }
.content { grid-area: content; }
.footer { grid-area: footer; }

.App {
    height: 100%;
    width: 100%;
    background: #fafafa;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 
        1fr
        50px;
    grid-template-areas: 
        "content"
        "footer"
}

