.center-field { grid-area: center; }
.north-field { grid-area: north; }
.south-field { grid-area: south; }
.east-field { grid-area: east; }
.west-field { grid-area: west; }
.northeast-field { grid-area: northeast; }
.southeast-field { grid-area: southeast; }
.southwest-field { grid-area: southwest; }
.northwest-field { grid-area: northwest; }

div.board {
    background-color: #fff;
    max-width: 700px;
    width: 500px;
    height: 400px;
    box-shadow: 2px 5px 5px #0002;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:    'northwest north northeast'
                            'west center east'
                            'southwest south southeast';
}

/* Desenho do tabuleiro do jogo */
.right-limit { border-right: 4px solid #555; }
.left-limit { border-left: 4px solid #555; }
.top-limit { border-top: 4px solid #555; }
.bottom-limit { border-bottom: 4px solid #555; }