.general-button-white-to-pink {
    display: inline-block;
    padding: 8px 15px;
    font-size: 18px;
    border: none;
    color: #555;
    background: #eee;
    box-shadow: 1px 3px 5px #5555;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .2s;
    height: 40px;
}
.general-button-white-to-pink:hover {
    background: rgb(169, 113, 233);
    color: #fff;
    transition: all .2s;
    cursor: pointer;
}



.general-input-place {
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    border: 3px solid #888;
    border-radius: 10px;
    outline: none;
    transition: .2s;
    height: 40px;
    font-size: 18px;
    color: #222;
}
.general-input-place:hover {
    border: 3px solid rgb(169, 113, 233);
    transition: .2s;
}
.general-input-place:focus {
    border: 3px solid rgb(169, 113, 233);
}


.general-title-form{
    font-size: 24px;
    padding-top: 10px;
    color: #555;
    margin-bottom: 40px;
}



.general-section {
    display: flex;
    height: calc(100% - 80px);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: #555;
    margin: 40px 0px;
}
.general-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px #5552;
    max-width: 700px;
    width: 500px;
}
.form-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}