header.header {
    background-color: rgb(169, 113, 233);
    padding: 5px;
    box-shadow: 2px 5px 5px #3332;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.header .header-logo {
    width: 80px;
    height: 60px;
}

header.header .header-logo img {
    width: 100%;
    height: 100%;
}

header.header .header-login {
    font-size: 24px;
    color: #fafafa;
    cursor: pointer;
}

header.header .login-drop-down {
    display: none;
    position: absolute;
    right: 0px;
    top: 50px;
}

header.header .header-login:hover .login-drop-down {
    display: flex;
    justify-content: flex-start;
}